* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* container main */

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

/* Cria uma nova tarefa */

.add-tarefa {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 90vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 30px 0 30px 30px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.salvar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff8700;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.repositorio{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.salvar:hover {
    background-color: #fff;
    border: #ff8700 1px solid;
    color: #ff8700;
}

/* Lista de tarefas criadas  */

.tarefas{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 90vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
    overflow-y: auto;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    margin-bottom: 30px;
    
}

.tarefa {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 7px;
}

.tarefa-info{
    display: flex;
    gap: 10px;
    flex-direction: column;

}
.etiqueta-data{
    display: flex;
    gap: 10px;
    flex-direction: row;
}



.editar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff8700;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}

.editar:hover {
    background-color: #fff;
    border: #ff8700 1px solid;
    color: #ff8700;
}

.excluir {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}

.excluir:hover {
    background-color: #fff;
    border: red 1px solid;
    color: red;
}

.concluir {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}

.concluir:hover {
    background-color: #fff;
    border: green 1px solid;
    color: green;
}

.tarefa.concluida {
    opacity: 0.6;
    background-color: #f0f0f0; 
    text-decoration: line-through; /* Adiciona uma linha no texto */
    
}

.tarefa.concluida .tarefa-info h3,
.tarefa.concluida .tarefa-info p,
.tarefa.concluida .etiqueta-data {
    color: #686868; /* Uma cor de texto mais escura para melhor contraste no fundo claro */
}

.tarefa.concluida .tarefa-actions button {
    filter: grayscale(100%); /* Deixa os ícones em escala de cinza */
}

.github a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: black;
}

.github a:hover {
    color: #ff8700;
}

.data {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.etiqueta {
    padding: 5px;
    border-radius: 5px;
    background-color: #ff8700;
    color: white;
    font-size: 12px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .add-tarefa, .tarefas {
        width: 90%;
        margin: 30px 0;
    }

    .etiqueta-data {
        flex-direction: column;
    }

    .tarefa-actions {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }
 }

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .add-tarefa, .tarefas {
        width: 90%;
        margin: 30px 0;
    }

    .etiqueta-data {
        flex-direction: column;
    }

    .tarefa-actions {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }
    }